.item-product{
    display: flex;
  }
  .item-product main,
  .item-product span{
    border: 1px solid #ddd;
    padding: 5px 10px;
  }
  .item-product{
    margin: 5px 0;
  }
  .item-product main{
    width: 80%;
  }
  .item-product span{
    width: 20%;
    text-align: left;
  }